{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <th scope="row"></th>
      <td><a href="/profile/{{ post['user_id'] }}">{{ post["username"] }}</a></td>
      <td><img class="postImg" src="{{ post['file'] }}"></td>
      <td>{{ post['description'] }}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><button class="btn btn-success btn-lg active" aria-pressed="true" onclick="postlike({{ post['post_id']}})">Like</button> <span id="likes{{post["post_id"]}}" class="text">{{ post['total_likes'] }}</span></td>
      <td><button class="btn btn-danger btn-lg active" aria-pressed="true" onclick="postdislike({{ post['post_id']}})">Dislike</button> <span id="dislikes{{post["post_id"]}}" class="text">{{ post['total_dislikes'] }}</span></td>    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
      var previous = null;

        function postlike(postid) {
          $.ajax({
            url: "/like?postid="+ postid,
            type: 'get',
            success: function(data) {
            if (data.success)
              {
                $('#likes'+postid).text(parseInt($('#likes'+postid).text()) + 1);

                if (previous == 'dis'){
                  $('#dislikes'+postid).text(parseInt($('#dislikes'+postid).text()) - 1);
                }
                previous = 'like';
              }
            }

          });
        }
        function postdislike(postid) {
          $.ajax({
            url: "/dislike?postid="+ postid,
            type: "get",
            success: function(data) {
              if (data.success)
              {
                $('#dislikes'+postid).text(parseInt($('#dislikes'+postid).text()) + 1);

                if (previous == 'like'){
                  $('#likes'+postid).text(parseInt($('#likes'+postid).text()) - 1);
                }
                previous = 'dis';

              }
            }

          });
        }
      </script>

{% endblock %}