{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
  <div class="container-fluid">
    <div class="row">
    <div class="col-12" text-allign="center">
      <p class="text-center h1">Welcome back, {{ username }}!</p>
    </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="dropdown">
          <button class="dropbtn" onclick="dropdownFollowers()">Your Friends
            <i class="fa fa-plus"></i>
          </button>
          <div id="dropdownfollow" class="dropdown-content">
            {% for follow in range(following|length) %}
              <a href="/profile/{{ following[follow][0]['user_id'] }}">{{ following[follow][0]['username'] }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-9">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <div class="nav-wrapper" style="height:80px;">
            </div>
            {% for post in posts %}
                <tr>
                  <th scope="row"></th>
                  <td><a href="/profile/{{ post['user_id'] }}">{{ post["username"] }}</a></td>
                  <td><img src="{{ post['file'] }}"></td>
                  <td>{{ post['description'] }}</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td><a href="/like/{{post['post_id']}}/homepage" class="btn btn-success btn-lg active" role="button" aria-pressed="true" value="{{ post["post_id"]}}">Like</a> <span id="likes{{post["post_id"]}}" class="text">{{ post['total_likes'] }}</span></td>
                  <td><a href="/dislike/{{ post['post_id']}}/homepage" class="btn btn-danger btn-lg active" role="button" aria-pressed="true" value="{{ post["post_id"]}}">Dislike</a> <span id="dislikes{{post["post_id"]}}" class="text">{{ post['total_dislikes'] }}</span></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}