{% extends "layout.html" %}

{% block title %}
    Hall of Shame
{% endblock %}

{% block main %}
  <p class="text-center h3">Top 5 most disliked posts</p>
  {% for post in posts %}
    <div class="card">
        <h1><a href="/profile{{ post['user_id'] }}">{{ post["username"] }}</a></h1>
      <div class="postdiv">
        <center><img class="postImg" src="{{ post['file'] }}"></center>
        <span>{{ post['description'] }}</span>
      </div>
      <div>
        <button class="btn btn-success btn-lg active" aria-pressed="true" onclick="postlike({{ post['post_id']}})">Like</button> <span id="likes{{post["post_id"]}}" class="text">{{ post['total_likes'] }}</span></td>
        <button class="btn btn-danger btn-lg active" aria-pressed="true" onclick="postdislike({{ post['post_id']}})">Dislike</button> <span id="dislikes{{post["post_id"]}}" class="text">{{ post['total_dislikes'] }}</span></td>    </tr>
      </div>
    </div>
  {% endfor %}

{% endblock %}