{% extends "layout.html" %}

{% block title %}
    Hall of Fame
{% endblock %}

{% block main %}

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <th scope="row"></th>
      <td><a href="/profile/{{ post['user_id'] }}">{{ post["username"] }}</a></td>
      <td><img src="{{ post['file'] }}"></td>
      <td>{{ post['description'] }}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><a href="/like/{{post['post_id']}}/homepage_trending" class="btn btn-success btn-lg active" role="button" aria-pressed="true" value="{{ post["post_id"]}}">Like</a> <span id="likes{{post["post_id"]}}" class="text">{{ post['total_likes'] }}</span></td>
      <td><a href="/dislike/{{ post['post_id']}}/homepage_trending" class="btn btn-danger btn-lg active" role="button" aria-pressed="true" value="{{ post["post_id"]}}">Dislike</a> <span id="dislikes{{post["post_id"]}}" class="text">{{ post['total_dislikes'] }}</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}