{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

  <body style="background-image:url(https://images.pexels.com/photos/2015/man-person-woman-face.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500)" id ="Photo">
    <form action="{{ url_for('login') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password" required/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Log In</button>
            </div>
        </fieldset>
    </form>

    </body>
{% endblock %}