{% extends "layout.html" %}

{% block title %}
    {{ username }}'s profile
{% endblock %}

{% block main %}


<div class="card">
  <h1>{{ username }}</h1>
  <div>
    {% if alreadyfollows == false %}
    <button class = "follow-button" id="followbutton" onclick="followuser({{ userid }})">Follow</button>
    {% else %}
    <button class = "follow-button" id="followbutton" onclick="followuser({{ userid }})">Unfollow</button>
    {% endif %}
  </div>
  <div class="dropdown">
  <button class="dropbtn-profile" onclick="showBio()">Bio
    <i class="fa fa-plus"></i>
  </button>
  <div id="bio" class="dropdown-content-profile">
    <p>{{ bio }}</p>
  </div>
  {% if posts|length > 0 %}
  <div><center><img class="postImg" src="{{ posts[0]['file'] }}"></center></div>
  {% endif %}
  <p class="title">Most liked post: {{ most_likes }}</p>
  {% if posts|length > 0 %}
  <div><center><img class="postImg" src="{{ posts[1]['file'] }}"></center></div>
  {% endif %}
  <p class="title">Most disliked post: {{ most_dislikes }}</p>
  <p class="title">Followers: {{ followers }}</p></div>
</div>


<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function showBio() {
  document.getElementById("bio").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

function followuser(userid) {
  $.ajax({
    url: "/follow?userid=" + userid,
    type: 'get',
    success: function(data) {
    if (data.success)
      {
        document.getElementById('followbutton').innerHTML = "Unfollow";
        $('#followers').text(parseInt($('#followers').text()) + 1);
      }
    else{
      document.getElementById('followbutton').innerHTML = "Follow";
      $('#followers').text(parseInt($('#followers').text()) - 1);
    }
    }

  });
}
</script>
</script>
{% endblock %}