{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="{{ url_for('register') }}" id="registerForm" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" onblur="validateForm()" required/>

            </div>
            <span id="username_error" class="error"></span>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password" onblur="validateForm()" required/>

            </div>
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="Password (test)" type="password"  onblur="validateForm()" required/>
            </div>
            <span id="password_error" class="error"></span>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>
    </form>
    <script>
        function validateForm() {
          document.getElementById("username_error").innerHTML = "";
          document.getElementById("password_error").innerHTML = "";
          var x = document.forms["registerForm"]["username"].value;
          var y = document.forms["registerForm"]["password"].value;
          var z = document.forms["registerForm"]["confirmation"].value;
          var letterNumber = /^[0-9a-zA-Z]+$/;
          var check;

          if (x.match(letterNumber)) {
              check = true;
          }
          else {
              check = false;
          }
          if (x == null || x == "") {
            document.getElementById("username_error").innerHTML = "Geef username op";
          }
          else if (x.length > 30) {
              document.getElementById("username_error").innerHTML = "Username maximaal 30 tekens lang";
          }

          else if (check == false) {
              document.getElementById("username_error").innerHTML = "Gebruik alleen letters en cijfers in gebruikersnaam (ook geen spaties)"
          }
          if (y != z) {
              document.getElementById("password_error").innerHTML = "wachtwoorden komen niet overeen";
          }
        }
    </script>
{% endblock %}
